li {
    list-style-type: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color: #f2f2f2, $alpha: 0.5);

    span {
        width: 25%;
        height: auto;
        border-right: 1px solid rgba($color: #f2f2f2, $alpha: 0.5);
        padding: 10px;
        text-align: center;
    }

    button {
        cursor: pointer;
        padding: 5px 10px;
        background-color: rgb(180, 11, 11);
        border: none;
        border-radius: 5px;
        color: #f2f2f2;
        font-weight: bold;
        margin: 0 auto;
    }

    input {
        margin-right: 20px;
    }
}