.task-container {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba($color: rgb(225, 225, 225), $alpha: 0.3);
    margin: 0 auto;
    margin-bottom: 20px;

    h2 {
        text-align: center;
    }

    .task {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px dashed rgba($color: rgb(225, 225, 225), $alpha: 0.3);
        p {
            width: 20%;
            position: relative;
            &::before {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: -10px; /* ajustez la valeur selon vos besoins */
                background-color: rgba($color: rgb(225, 225, 225), $alpha: 0.3); /* ajustez la couleur selon vos besoins */
            }
            &:first-of-type::before {
                content: none; /* supprime le trait avant le premier élément */
            }
        }

        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            outline: none;
            border: 1px solid #ccc;
        }
        
        input[type="checkbox"]:checked {
            background-color: #ccc;
        }
    }

    .completed {
        font-style: italic;
        text-decoration: line-through;
        opacity: 0.4;
    }
}